/node_modules
/public/css
/public/js/app.js
/public/storage
/public/js/helper.js
/public/plugins/*
/public/mix-manifest.json
/vendor
.env
phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
